/* start your css here */
body {
    margin: 0;
}

#main {
    background-color: black;
    color: whitesmoke;
    display: flex;
    padding: 20px;
    justify-content: flex-start; 
     justify-content: space-evenly;
    font-size: 18px;

}

#nav a {
    color: rgb(206, 204, 195);
    text-decoration: none;
    margin: 27px;
}
.fas{
    padding: 10px;
}
