nav{
    background-color: rgba(207, 160, 255, 0.8);
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
h1:hover{
    color: rgb(70, 15, 201);
    cursor: pointer;
}
main{
    background-color: antiquewhite;
}
.mysection-1{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}
.mysection-2{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
    cursor: pointer;
}
img{
    height: 200px;
    width: 200px;
}
