*{
    box-sizing: border-box;
}
img{
    
    box-shadow: 5px 5px 10px 5px #888888;
    width: 450px;
    height: 450px;
}
.h6{
   
    box-shadow: 5px 5px 5px #888888;
    padding: 10px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
}
.whisker{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
